<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Библиотека научной фантастики</title>
  <link rel="icon" href="{{ static_url }}/lg.png">
  <link href="{{ static_url }}/bootstrap.min.css" rel="stylesheet">
  <script defer src="{{ static_url }}/bootstrap.min.js"></script>
</head>
  <body style="padding-top:70px;">
    <div class="container">
      <nav class="navbar navbar-light fixed-top" style="background-color: #F6F4F0;" >
        <div class="container-fluid justify-content-center">
          <ul class="pagination justify-content-center pagination-sm">
            {% for page in paginator %}
              {% if page[1] == '' %}
                <li class="page-item disabled">
                  <span class="page-link">{{ page[0] }}</span>
                </li>
              {% elif page[1] == '#' %}
                <li class="page-item active" aria-current="page">
                  <span class="page-link"> {{ page[0] }} </span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{ page[1] }}">{{ page[0] }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      {% for pair in catalog %}
        <div class="row justify-content-center">
          {% for book in pair %}
            <div class="card mb-3" style="max-width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="{{ book['img_src']|urlencode }}" class="card-img" alt="обложка книги &laquo;{{ book['title'] }}&raquo;">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{ book['title'] }}</h5>
                    <h6 class="card-text">{{ book['autor'] }}</h6>
                    <p class="text-break"><br>
                      <small><b>{{ ', '.join(book['genre']) }}</b></small>
                    </p>
                    <p class="card-text">
                      <a href="{{ book['book_path']|urlencode }}" target="_blank" hreflang="ru"> читать </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>