<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" href="../../library/static/lg.png">
  <link href="../../library/static/bootstrap.min.css" rel="stylesheet">
  <script defer src="../../library/static/bootstrap.min.js"></script>

  <!-- Bootstrap CSS (jsDelivr CDN) -->
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">-->
  <!-- Bootstrap Bundle JS (jsDelivr CDN) -->
<!--  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--          crossorigin="anonymous"></script>-->

</head>
<body style="padding-top:70px;">
<div class="container">
  <nav class="navbar navbar-light bg-info fixed-top">
    <div class="container-fluid justify-content-center">
      <ul class="pagination justify-content-center pagination-sm">
        {% for page in paginator %}
          {% if page[1] == '' %}
            <li class="page-item disabled">
              <span class="page-link">{{ page[0] }}</span>
            </li>
          {% elif page[1] == '#' %}
            <li class="page-item active" aria-current="page">
              <span class="page-link"> {{ page[0] }} </span>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="{{ page[1] }}">{{ page[0] }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  {% for pair in catalog %}
    <div class="row justify-content-center">
      {% for book in pair %}
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ book['img_src']|urlencode }}" class="card-img" alt="обложка">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book['title'] }}</h5>
                <h6 class="card-text">{{ book['autor'] }}</h6>
                <p class="text-break"><br>
                  <small><b>{{ ', '.join(book['genre']) }}</b></small>
                </p>
                <p class="card-text">
                  <small class="text-muted">
                    <a href="{{ book['book_path']|urlencode }}" target="_blank" hreflang="ru"> читать </a>
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
</body>
</html>